/* @import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap"); */
html {
    scroll-behavior: smooth;
}
html,
body {
    padding: 0;
    margin: 0;
    background-color: #1a202c !important;
    color: "#fff" !important;
}

a {
    color: #fff;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.bg {
    background-color: rgba(255, 255, 255, 0.05);
}

.miniBg {
    background-color: rgba(255, 255, 255, 0.1);
}

.fade {
    background-color: rgba(114, 111, 111, 0.356) !important;
}

.strokeText {
    -webkit-text-stroke: 1px rgba(0, 255, 163, 0.7);
}

.strokeText2 {
    -webkit-text-stroke: 1px rgba(88, 101, 242, 0.7);
}
.strokeText3 {
    -webkit-text-stroke: 1px rgba(255, 230, 0, 0.7);
}
.strokeText4 {
    -webkit-text-stroke: 1px rgba(255, 0, 76, 0.7);
}

.orb {
    float: left;
    transition: all 0.2s ease-out;
}

.orb:hover {
    transform: scale(1.1);
    opacity: 0.5;
    cursor: pointer;
}

.marquee {
    height: 300px;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
}

.marquee--inner {
    display: block;
    width: 200%;
    margin: 70px 0;
    position: absolute;
    animation: marquee 10s linear infinite;
}

.marquee--inner:hover {
    /* animation-play-state: paused; */
}

/*.half {
  float: left;
  width: 10%;
}*/

@keyframes marquee {
    0% {
        left: 0;
    }
    100% {
        left: -100%;
    }
}
